# Quality Report - ftrack for Unity
# May 15, 2019

## Version tested: ftrack-connect-unity-engine-0.1.0

## QA Owner: Alexis Morin
## UX Owner: [*Add Name*]

## Test strategy

* [Ran through test plan](https://docs.google.com/document/d/1YG5ekU_T8tHnHRtGjfO1pF_GWftJAYNuOnfieDtYTik/edit?usp=sharing)
* Waiting on functional coverage testing.

## Package Status

* Good bootstrapping times, not too janky.

* *Info* Button: Window instantly closes on import and breaks integration.
* *Tasks* Button: Not yet implemented.
* *Import* Button: Functional, aside from the *browse* window that appears behind the main panel and locks out the integration.
* *Asset Manager* Button: Not yet implemented.

Incredible progress, looking forward to seeing all features implemented.