# Quality Report - ftrack for Unity
# May 23, 2019

## Version tested: ftrack-connect-unity-engine-0.1.0

## QA Owner: Alexis Morin
## UX Owner: [*Add Name*]

## Test strategy

* [Ran through test plan](https://docs.google.com/document/d/1YG5ekU_T8tHnHRtGjfO1pF_GWftJAYNuOnfieDtYTik/edit?usp=sharing).
* Eventual coverage testing pending as it's not a priority.

## Package Status

 Feature-complete! Still needs a little UX work but the basic workflow can be done without issues.

- Unity launch from ftrack connect: Fully functional - but all instances of the Hub need to be closed before launch.
- *Info* Button: Fully functional.
- *Import* Button: Fully functional.
- *Asset Manager*: Fully functional.